<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Kalkulator</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        <script src="{{ asset('script.js') }}"></script>
    </head>
    <body>
        <div>
            <script>
                {% if(czyWyzerowac is defined) %}
                    var czyWyzerowac = {{ czyWyzerowac }} + "";
                {% endif %}
            </script>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>